.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right bottom,
    rgba(1, 93, 83, 1),
    rgba(3, 3, 3, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right bottom,
    rgba(1, 93, 83, 1),
    rgba(3, 3, 3, 1)
  );
}

.section {
  background-color: #f4f5f7;
}

.card {
  border-radius: 0.5rem;
}

* {
}
